<h3>HOME</h3>

<% if current_user %>
<p>
  <% if  current_user.customer_id%>
    <%= link_to "Dashbord", connections_path, class:"btn btn-primary" %>
  <% else %>
    <p> You don't have a connected SaltEdge customer account 
    create one by following this <%= link_to 'link', create_customer_path %>.
    </p>
  <% end %>
</p>
<% end %>
<%= log_in classa:"btn btn-primary" %>
