<div class="container">
  <%=  link_to " ⬅ back ", connection_accounts_path, class:"btn btn-primary" %> <br><br>
<% @transaction.each_pair do |key, value| %>
  
  <strong> <%= key.to_s %> </strong> <br>
  <%= value %>
  <br><br>
<% end %>
  </div>  
